<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome | User Dashboard</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/style.css' %}">
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand">USER DASHBOARD</a>
            </div>
            <div class="nav navbar-nav navbar-right">
                <form class="form-inline" action="{% url 'login:login' %}" method="post">
                    {% csrf_token %}
                    {% for input in loginform %}
                        <div class="form-group">
                            {{ input.label_tag }}{{ input }}
                        </div>
                    {% endfor %}
                    <button class="btn btn-default btn-sm" type="submit">Log In</button>
                </form>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div class='container'>
        <div class="description">
            <h2>Welcome to the User Dashboard!</h2>
                <div class="row">
                <div class="col-md-6">
                    <h4> The User Dashboard allows you to stay connected with other members in the community. Sign up now to receive and share the most up-to-date news!</h4>
                </div>
                </div>
                <div class="row">
                <div class="col-md-3">
                <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
                <h4> Create </h4>
                </div>
                <div class="col-md-3">
                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
                <h4> Retrieve </h4>
                </div>
                <div class="col-md-3">
                    <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                    <h4> Update </h4>
                </div>
                <div class="col-md-3">
                    <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                    <h4> Delete </h4>
                </div>
            </div>
        </div>
         {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
         </ul>
         {% endif %}
        <div class="register_space">
            <h4>New User? Register Below!</h4>
            <form action="{% url 'login:register' %}" method="post">
            {% csrf_token %}
                <table class="table_space">
                {{ regform.as_table }}
                </table>
                <button class='btn btn-success btn-md' type='submit'>Register</button>
            </form>
        </div>
    </div>
</body>
</html>
