<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Edit {{title}} | User Dashboard</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}">
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'dashboard:index' %}">USER DASHBOARD</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'dashboard:show' request.session.user_id %}">PROFILE<span class="sr-only">(current)</span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'login:index' %}">LOGOFF</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class='container'>
			<div id=editInfoForm>
			<h3 class='edit_info'>Edit Information</h3>
				<form action="{% url 'dashboard:edit_info' user_id %}" method="POST">
					{% csrf_token %}
	                <table class="edit_table">
					{{editForm.as_table}}
	                </table>
					<button id="save_button" type='submit' class='btn btn-success btn-sm'>Save</button>
				</form>
			</div>
			<div id="editPasswordForm">
				<h3 class='edit_info'>Change Password</h3>
					<form action="{% url 'dashboard:edit_pw' user_id %}" method="POST">
						{% csrf_token %}
		                <table>
						{{editPasswordForm.as_table}}
		                </table>
						<button type='submit' class='btn btn-success btn-sm'>Update Password</button>
					</form>
			</div>
			<div {{hidden}} id="editDescritionForm">
				<h3 class='edit_info'>Edit Description</h3>
				<form action="{% url 'dashboard:edit_desc' user_id %}" method="POST">
					{% csrf_token %}
	                <table>
					{{editDescriptionForm.as_table}}
	                </table>
					<button type='submit' class='btn btn-success btn-sm'>Save</button>
				</form>
			</div>
		</div>
</body>
</html>
