<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Edit {{title}} | User Dashboard</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static dashboard/css/style.css %}">
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'dashboard:index' %}">USER DASHBOARD</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'dashboard:show' request.session.user_id %}">PROFILE<span class="sr-only">(current)</span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'login:index' %}">LOGOFF</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
	<h1>Edit {{editStr}}</h1>
	<div id=editInfoForm>
	<p>Edit Information</p>
		<form action="{url 'dashboard:edit_user' }" method="POST">
			{% csrf_token %}
			{{editInfoForm.as_p}}
			<input type="submit" value="Save">
		</form>
	</div>
	<div id="editPasswordForm">
	<p>Change Password</p>
		<form action="{url 'dashboard:edit_user}" method="POST">
			{% csrf_token %}
			{{editPasswordForm.as_p}}
			<input type="submit" Value="Update Password">
		</form>
	</div>
	<div id="editDescritionForm">
	<p>Edit Description</p>
		<form action="{url 'dashboard:edit_user}" method="POST">
			{% csrf_token %}
			{{editDescriptionForm}}
			<input type="submit" value="Save">
		</form>
	</div>

</body>
</html>
