<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home | User Dashboard</title>
    {% load staticfiles %}
</head>
<body>
	<div id='header'>
		<ul>
			<li> Test App </li>
			<li><a href="{% url 'dashboard:index' %}"> Dashboard </a></li>
			<li> <a href="{% url 'dashboard:show' user.id %}"> Profile </a> </li>
			<li> <a href="{% url 'login:index' %}"> Log off </a> </li>
		</ul>
	</div>
	<div id='body'>
		<h4> All Users </h4>
		<table>
			<tr>
				<th> ID</th>
				<th> Name </th>
				<th> email </th>
				<th> created_at </th>
				<th> user_level </th>
			</tr>
			{% for user in users %}
			<tr>
				<td> {{user.id}} </td> 
				<td> {{user.first_name}} {{user.last_name}} </td>  
				<td>{{user.email}} </td> 
				<td>{{user.created_at}} </td> 
				<td>{{user.user_level}} </td> 
				<td>{{user.email}} </td> 
			</tr>
			{% endfor %}
		</table>
	</div>

</body>
</html>
