<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Admin Home | User Dashboard</title>
    {% load staticfiles %}
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header active">
                <a class="navbar-brand" href="{% url 'dashboard:index' %}">USER DASHBOARD</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'dashboard:show' request.session.user_id %}">
                        PROFILE <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'login:index' %}">LOGOFF</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> <!-- end navbar -->
    <div class='container'>
        <h3 class='less_margin'>Manage Users</h3>
        <table class="table table-bordered table-hover table-responsive">
            <tr class="success">
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Created_at</th>
                <th>User_level</th>
                <th>Actions</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td><a href="{%url 'dashboard:show' user.id%}">{{user.first_name}} {{user.last_name}}</a></td>
                <td>{{user.email}}</td>
                <td>{{user.created_at}}</td>
                <td>{{user.user_level}}</td>
                <td>
                    <a href= "{% url 'dashboard:remove_admin' user.id %}">Delete</a>  |
                    <a href="{% url 'dashboard:edit' user.id %}">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </table> <!-- end user table -->
        <div class='button_add'>
            <form action="{% url 'dashboard:new_admin' %}">
                {% csrf_token %}
                <button class='btn btn-success btn-md' type='submit'>Add New</button>
            </form>
        </div>
    </div> <!-- end of container -->
</body>
</html>
