nav{
	border-radius:0px !important;
}

.navbar-header a:hover{
	color: red !important;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    color: #fff !important;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: red !important;
}

form.form-inline {
	padding: 10px;
}

form.form-inline .form-group {
	margin: 0px 10px;
}

form.form-inline label {
	color: white;
}

.align_center {
	margin: 10px;
	text-align: center;
}

.description {
	margin: 10px;
}

.glyphicon{
	font-size: 75px;
	margin-top: 25px;
}

.glyphicon-cloud {
	color: #294FF9;

}

.glyphicon-leaf {
	color: #129B3D;
}

.glyphicon-fire {
	color: #ED710C;
}

.glyphicon-tint {
	color: #04C7C7;
}

.table_space label {
	padding: 10px;
}
.btn {
	margin-left: 10px;
}

.register_space{
	margin-top: 40px;
}
