nav{
	border-radius:0px !important;
}

.navbar-header a:hover{
	color: red !important;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    color: #fff !important;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: red !important;
}

form.form-inline {
	padding: 10px;
}

form.form-inline .form-group {
	margin: 0px 10px;
}

form.form-inline label {
	color: white;
}

